* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 120px;
}

.logo {
    float: left;
    width: 30%;
}

.topbar-content {
    float: right;
    width: 70%;
}

.topbar-content ul {
    text-align: right;
    padding-right: 75px;
    padding-top: 66px;
}

.topbar-content ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
}

.topbar-content ul a {
    color: black;
    text-decoration: none;
}

.header .logo img {
    padding: 20px 0 0 20px;
}

.content {
    margin-top: 26px;
    display: flex;
}

/*  */
h2.head-content {
    font-size: 50px;
    font-weight: 700
}

.head-content span {
    font-weight: 1000;
    color: #359356;
}

.text-box {
    width: 48%;
    padding-left: 5%;
}

.img-box {
    width: 50%;
    position: relative;
}

.img-box li {
    list-style-type: none;
}

.img-box .starbucks1 {
    position: absolute;
    width: 50%%;
}

.img-box .starbucks3 {
    position: absolute;
    width: 40%%;
}

.img-box .starbucks2 {
    position: absolute;
    width: 40%;
}

.img-box img {
    width: 50%;
    margin-left: 50%;
}

.text-content {
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

.button {
    border-radius: 19px;
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 22px 8px 22px;
    display: block;
    border: 1px solid;
    width: 156px;
    background-color: #359356;
    color: #fff;
    font-weight: 600
}

.icoi-box {
    list-style-type: none;
    opacity: 0.7;
    margin: 120px 0 0 30px;
}

.icoi-box img {
    padding-bottom: 15px;
}

.bar-thumb {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 90px;
    position: relative;
}

.bar-thumb img {
    width: 60%;
}

.bar-thumb img:hover {
    cursor: pointer;
    opacity: 0.7;
}

section .vien {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #359356;
    clip-path: circle(70% at 100% 100%);
}